<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.study.springcloud.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="com.study.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="create">
        INSERT INTO payment(SERIAL) VALUES(#{serial});
    </insert>

    <select id="getPaymentById" resultType="Payment" parameterType="Long">
        SELECT * FROM payment WHERE id=#{id};
    </select>

    <delete id="delete">
        DELETE FROM payment WHERE id=#{id};
    </delete>
    <update id="update">
     UPDATE payment SET serial=#{serial} WHERE id=#{id};
    </update>
    <!--resultType是必须得写的，否则无法识别返回的类型-->
    <select id="list" resultMap="BaseResultMap">
        select * from payment;
    </select>
</mapper>

